<h1>Add a Party</h1>
<%= form_for(@party) do |f| %>
  <%= f.text_field(:host_name) %>
  <div class="row">
    <div class="col-md-3">
      <label>Hosted By</label>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:host_name) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Host Email</label>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:host_email) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Number of Guests</label>
    </div>
    <div class="col-md-6">
      <%= f.number_field(:numgsts) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Guest Name (separate by ',')</label>
    </div>
    <div class="col-md-6">
      <%= f.text_area(:guest_names) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Venue Name</label>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:venue) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Venue Location</label>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:location) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Party Theme</label>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:theme) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Party start time</label>
    </div>
    <div class="col-md-6">
      <%= f.datetime_select(:when_at) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Party End Time</label>
    </div>
    <div class="col-md-6">
      <%= f.datetime_select(:when_its_over) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <label>Description</label>
    </div>
    <div class="col-md-6">
      <%= f.text_field(:descript) %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <%= f.submit %>
    </div>
  </div>

<%- end %>
